* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formularioRegistrate {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  width: 500px; /* 
  border: solid 5px;
  border-color: #51ff00; */
  font-size: 15px;
  @media (max-width: 768px) {
    width: 250px;
  }
}

input {
  width: $width;
  height: 50px;
  padding-left: 1rem;
}

.inputRadio {
  height: 20px;
  width: 25%;
}

.boton {
  border-radius: 3px;
  display: inline-block;
  background-color: $colorLT;
  color: black;
  width: $width;
}

.formularioReg {
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.16valvulas.com.ar%2Ftest-drive-nissan-leaf-100-electrico%2F&psig=AOvVaw07HTVLW-rrwWJ4WsXiZs6A&ust=1648932376652000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJDq6vfd8_YCFQAAAAAdAAAAABAD);
  opacity: 0.5;
}

.whatsapp a {
  color: $colorLT;
  font-size: $fontsize;
  text-decoration: none;
  &:hover {
    color: #000000;
  }
}

hr {
  height: 1px;
  border-color: $colorLT;
}

.mapasConc {
  @media (max-width: 768px) {
    width: 150px;
  }
}
